<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.typekit.net/tvf0cut.css">
</head>

<body>
    <section>
        <div class="container">
            <div class="bt-add">
                <img class="task-icon" src="task-done-svgrepo-com.svg" alt="">
                <a href="#">Adicionar nova
                    tarefa</a>
            </div>
            <div class="shadow-table">

            </div>
            <hr>
        </div>
    </section>
</body>

</html>