<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.typekit.net/tvf0cut.css">
</head>

<body>
    <section>
        <div class="container">
            <div class="bt-add">
                <img class="task-icon" src="task-done-svgrepo-com.svg" alt="">
                <a href="#" (click)="toggleForm(); $event.preventDefault()">Adicionar nova
                    tarefa</a>
            </div>
            <div class="shadow-table">

            </div>
            <hr>
            <div *ngIf="showForm" @fadeInOut class="form-container">
                <form>
                    <div class="form-input">
                        <label for="data">Título</label>
                        <input id="title" type="text" placeholder="Descreva sua atividade">
                    </div>
                    <div class="form-input">
                        <label for="data"><img class="form-icon" src="menu-alt-2-svgrepo-com.svg" alt=""></label>
                        <textarea id="descricao" type="text" placeholder="Descreva sua atividade"></textarea>
                    </div>
                    <div class="input-date">
                        <label for="data">Prazo</label>
                        <input id="data" type="date" />
                    </div>
                    <div class="div-button">
                        <button type="submit" class="button-default">Adicionar tarefa</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
</body>

</html>